In [11]:
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
import scipy.io as sio
from scipy import stats
import seaborn as sns

get_ipython().magic(u'matplotlib inline')

## Load metrolab data

In [2]:
# load metrolab data for testing

metrolab = pd.read_csv("../../Data/cmag_data/lego_metrolab_processed/processed_data_static_from_Pos1_to_Pos8_2999samples_max35Amp.csv",
                      skiprows=1, header=None)

metrolab.columns = ["x", "y", "z", 
                                 "I1", "I2","I3", "I4","I5", "I6","I7", "I8",
                                 "Bx", "By", "Bz"]
print("Total data shape is ", metrolab.shape)
metrolab.head()

Total data shape is  (214992, 14)

,x,y,z,I1,I2,I3,I4,I5,I6,I7,I8,Bx,By,Bz
0,-102.52,-29.60,28.2,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-67.790,3.0321,-1.6435
1,-102.52,-93.60,28.2,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-66.519,2.2220,-6.7333
2,-25.48,-101.60,28.2,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-75.868,-3.5986,-9.5510
3,-25.48,-37.60,28.2,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-75.815,4.3741,6.1569
4,-59.90,-66.98,66.6,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-70.934,6.5159,-2.2175

## Missing data (removed)

In [3]:
# missing values in metrolab data

nan_rows = metrolab[metrolab.isnull().any(axis=1)]

print("{} rows contain nan value".format(len(nan_rows)))
nan_rows

18 rows contain nan value

,x,y,z,I1,I2,I3,I4,I5,I6,I7,I8,Bx,By,Bz
112194,25.48,95.60,28.2,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112195,25.48,31.60,28.2,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112196,102.52,23.60,28.2,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112197,102.52,87.60,28.2,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112198,68.10,58.22,66.6,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112199,25.48,95.60,95.1,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112200,25.48,31.60,95.1,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112201,102.52,23.60,95.1,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
112202,102.52,87.60,95.1,-13.3500,7.5110,-0.5929,-17.0470,21.5770,22.5940,11.3080,-18.5420,NaN,NaN,NaN
158976,-102.52,-29.60,28.2,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158977,-102.52,-93.60,28.2,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158978,-25.48,-101.60,28.2,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158979,-25.48,-37.60,28.2,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158980,-59.90,-66.98,66.6,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158981,-102.52,-29.60,95.1,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158982,-102.52,-93.60,95.1,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158983,-25.48,-101.60,95.1,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN
158984,-25.48,-37.60,95.1,6.0697,5.1737,-3.6407,8.7283,-9.2057,0.5971,-6.6388,7.5047,NaN,NaN,NaN

In [4]:
# remove missing samples
metrolab = metrolab.dropna()
assert 214992-18==len(metrolab), "dimension mismatch"

print("metrolab dataset has {} samples ready for testing.".format(len(metrolab)))

metrolab dataset has 214974 samples ready for testing.

In [5]:
# save the metrolab dataset so far

metrolab.to_csv("metrolab_remove_nan.csv", index = False)

In [6]:
metrolab.describe()

,x,y,z,I1,I2,I3,I4,I5,I6,I7,I8,Bx,By,Bz
count,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000
mean,0.455556,-3.153333,124.605225,-0.161421,-0.543056,-0.013110,0.254383,-0.153578,-0.364767,0.253618,-0.296891,0.758652,-0.106323,1.347145
std,73.597624,69.594648,69.934131,11.739934,11.742063,11.794816,11.966770,11.808545,11.857350,12.034072,11.664312,35.148218,31.053232,26.375037
min,-102.520000,-101.600000,28.200000,-34.270000,-34.390000,-32.888000,-32.785000,-33.638000,-34.782000,-34.465000,-34.263000,-179.600000,-160.250000,-165.310000
25%,-59.900000,-66.980000,66.600000,-6.958000,-7.488600,-6.704600,-6.715800,-7.228200,-7.390600,-6.450500,-6.930000,-18.054750,-16.062000,-10.216750
50%,0.000000,-3.000000,153.000000,-0.025550,-0.563150,-0.117950,0.114450,-0.153650,-0.387450,0.210000,-0.237300,0.671305,-0.197625,1.254800
75%,68.100000,58.220000,191.400000,6.531000,6.052200,7.009800,7.415800,6.902000,6.379800,7.304500,6.408500,19.500750,15.725750,12.699000
max,102.520000,95.600000,219.900000,34.808000,33.658000,34.277000,33.812000,33.156000,32.900000,33.722000,32.656000,178.730000,159.030000,165.670000

In [7]:
# so change metrolab's unit to match the sensor grid

# unit transformation based on that x,y,z in millimetres, and Bx, By, Bz in millitesla.

metrolab[['x','y','z']] /= 1000 # change sensor location coordinates in meters
metrolab[['Bx','By','Bz']] /= 1000 # change field strength in Tesla
metrolab.head()

,x,y,z,I1,I2,I3,I4,I5,I6,I7,I8,Bx,By,Bz
0,-0.10252,-0.02960,0.0282,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-0.067790,0.003032,-0.001643
1,-0.10252,-0.09360,0.0282,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-0.066519,0.002222,-0.006733
2,-0.02548,-0.10160,0.0282,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-0.075868,-0.003599,-0.009551
3,-0.02548,-0.03760,0.0282,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-0.075815,0.004374,0.006157
4,-0.05990,-0.06698,0.0666,20.794,-25.054,9.5788,-10.744,-8.3818,-7.8729,-2.317,23.666,-0.070934,0.006516,-0.002217

In [8]:
metrolab.describe()

,x,y,z,I1,I2,I3,I4,I5,I6,I7,I8,Bx,By,Bz
count,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000,214974.000000
mean,0.000456,-0.003153,0.124605,-0.161421,-0.543056,-0.013110,0.254383,-0.153578,-0.364767,0.253618,-0.296891,0.000759,-0.000106,0.001347
std,0.073598,0.069595,0.069934,11.739934,11.742063,11.794816,11.966770,11.808545,11.857350,12.034072,11.664312,0.035148,0.031053,0.026375
min,-0.102520,-0.101600,0.028200,-34.270000,-34.390000,-32.888000,-32.785000,-33.638000,-34.782000,-34.465000,-34.263000,-0.179600,-0.160250,-0.165310
25%,-0.059900,-0.066980,0.066600,-6.958000,-7.488600,-6.704600,-6.715800,-7.228200,-7.390600,-6.450500,-6.930000,-0.018055,-0.016062,-0.010217
50%,0.000000,-0.003000,0.153000,-0.025550,-0.563150,-0.117950,0.114450,-0.153650,-0.387450,0.210000,-0.237300,0.000671,-0.000198,0.001255
75%,0.068100,0.058220,0.191400,6.531000,6.052200,7.009800,7.415800,6.902000,6.379800,7.304500,6.408500,0.019501,0.015726,0.012699
max,0.102520,0.095600,0.219900,34.808000,33.658000,34.277000,33.812000,33.156000,32.900000,33.722000,32.656000,0.178730,0.159030,0.165670

In [9]:
# save metrolab data
metrolab.to_csv("metrolab_unified_units.csv", index = False)